#busGraph {
    position: relative;
    height: 90%;
    width: 50%;
    float: left;
    margin-top: 25px;
    border-radius: 4px;
}

#busGraph .busGraphItem {
    position: absolute;
}

#busGraph .busGraphLabel {
    position: absolute;
}

#busGraph .busGraphCommitCountLabel {
    position: absolute;
    font-size: 0.8em;
    color: gray;
}

#busGraph .busGraphCommitCountLine {
    position: absolute;
    width: 1px;
    background: blue;
}

#busGraph .busGraphStripe {
    position: absolute;
}

#busGraph .busGraphStripe.even {
    background: white;
}

#busGraph .busGraphStripe.odd {
    background: #f1f1f1;
}