#busGraph {
    position: relative;
    height: 90%;
    width: 90%;
    float: left;
    margin-top: 25px;
    border-radius: 4px;
}

#busGraph .busGraphItem {
    position: absolute;
    background: red;
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

#busGraph .busGraphLabel {
    position: absolute;
    font-size: 0.8em;
    color: gray;
    line-height: 0.8em;
}

#busGraph .busGraphCommitCountLabel {
    position: absolute;
    font-size: 0.8em;
    color: gray;
}

#busGraph .busGraphCommitCountLine {
    position: absolute;
    width: 1px;
    background: blue;
}

#busGraph .busGraphStripe {
    position: absolute;
}

#busGraph .busGraphStripe.even {
    background: white;
}

#busGraph .busGraphStripe.odd {
    background: #f1f1f1;
}

#inprogress {
    display: none;
}